<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>163691472519-o21qj8ubc8gd24fbv1kssipm14os9qac.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.163691472519-o21qj8ubc8gd24fbv1kssipm14os9qac</string>
	<key>API_KEY</key>
	<string>AIzaSyA9_WdejkdJqR2nphC2YyuzqlOWmiGxuWU</string>
	<key>GCM_SENDER_ID</key>
	<string>163691472519</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.edriveapp</string>
	<key>PROJECT_ID</key>
	<string>jobista-37eaa</string>
	<key>STORAGE_BUCKET</key>
	<string>jobista-37eaa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:163691472519:ios:53c071a077b08cc721fa22</string>
</dict>
</plist>